{% load thumbnail %}
{% load custom_markup %}
{% load lesson_tags %}
<div class="row section-list" style="margin-top:5px;">
    <div class="col-lg-9" id="{{ curriculum.slug }}">
        <h3>
            <a href='{% url "curriculum-detail" project_slug=curriculum.project.slug slug=curriculum.slug %}'>
                {{ curriculum.title }}
            </a>
        </h3>
         {{ curriculum.competency }}
    </div>
    <div class="col-lg-3">
        {% if user_can_edit %}
            <div class="btn-group pull-right">
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Delete {{ curriculum.title }}"
                   href='{% url "curriculum-delete" project_slug=curriculum.project.slug slug=curriculum.slug %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Update {{ curriculum.title }}"
                   href='{% url "curriculum-update" project_slug=curriculum.project.slug slug=curriculum.slug %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
<hr>
